<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211315354078-03m4fvt916qkcvagnqgdkll34qfhf7th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211315354078-03m4fvt916qkcvagnqgdkll34qfhf7th</string>
	<key>API_KEY</key>
	<string>AIzaSyALZhkIz4Y1eiq1vM-EQp1vQwW_Vz0k_WQ</string>
	<key>GCM_SENDER_ID</key>
	<string>211315354078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ychat</string>
	<key>PROJECT_ID</key>
	<string>y-chat-7c175</string>
	<key>STORAGE_BUCKET</key>
	<string>y-chat-7c175.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211315354078:ios:967ab3849b0e7e95a6554f</string>
</dict>
</plist>